#top-bar-wrapper{
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    font-family: "Shadows into Light", cursive;
}
#logo{
    width: 37%;
    opacity: 0.6;
    margin-left: 5%;
    margin-top: 2%;
    place-self: center center;
    filter: grayscale(1) ; 
    @media only screen and (max-aspect-ratio : 1.05){
        width: 25%;

    }
}

#identification-blurb{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 75%;
    margin: 20%;
    margin-bottom: 20%;
    flex-direction: column;
    @media only screen and (max-aspect-ratio : 1.05){
        margin-left: 0%;
    }
}
#nav-bar-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    ul li ul li{
        font-family: 'Indie Flower', cursive;
        text-align: center;
    }
}
#nav-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
#nav-symbol{
    display: flex;
}
.icon-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.contact-link{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Shadows into Light', cursive;
    width: 50%;
    p{
        margin: 5%;
    }
    .icon{
        margin: 5%;
        font-size: large;
    }
}
#name-tag{
    font-size: x-large;
    margin-bottom: 0;
}
